<launch>

  <arg name="prefix" default="ur5_arm" />
  <arg name="robot_ip_left" default="192.168.1.50"/>
  <arg name="reverse_port_right" default="50001"/>
  <arg name="min_payload"  default="0.0"/>
  <arg name="max_payload"  default="3.0"/>
  <arg name="max_velocity" default="5.0"/> 
  <arg name="servoj_time" default="0.008" />
  <arg name="base_frame" default="ur5_arm_base_link" />
  <!--arg name="tool_frame_left" default="$(arg prefix_right)tool0_controller" /-->
  <arg name="tool_frame_right" default="$(arg prefix)tool0_controller" />

  <include file="$(find bulldog_gazebo_moveit_config)/launch/planning_context.launch">
    <arg name="load_robot_description" value="true"/>
  </include>


  <!--group ns="ur5_arm">
    <node name="ur_driver" pkg="ur_modern_driver" type="ur_driver" output="screen">
      <param name="prefix" type="str" value="$(arg prefix)" />
      <param name="robot_ip_address" type="str" value="$(arg robot_ip_left)" />
      <param name="reverse_port" value="$(arg reverse_port_left)"/>
      <param name="min_payload" type="double" value="$(arg min_payload)" />
      <param name="max_payload" type="double" value="$(arg max_payload)" />
      <param name="max_velocity" type="double" value="$(arg max_velocity)" />
      <param name="servoj_time" type="double" value="$(arg servoj_time)" />
      <param name="base_frame" type="str" value="$(arg base_frame)"/>
      <param name="tool_frame" type="str" value="$(arg tool_frame_right)"/>
    </node>
  </group-->

  <include file="$(find bulldog_gazebo_moveit_config)/launch/move_group.launch" />

  <include file="$(find bulldog_gazebo_moveit_config)/launch/moveit_rviz.launch">
    <arg name="config" value="true"/>
  </include>

</launch>
